# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.idea
.DS_Store

# Don't store the wasm code
wrappers/js/lib/main.wasm
wrappers/js/lib/main.wasm.gz
wrappers/js-web/lib/main.wasm.gz
wrappers/js-web/dist/**

# Don't store node moudles
wrappers/js/node_modules
wrappers/js-web/node_modules

amf.jar
amf-opa-validator
validation-profile.yaml
