#%RAML 1.0
title: ZEncoder API
baseUri: https://app.zencoder.com/api/v1/
description: desc
documentation:
 - title: Home
   content: |
     Welcome to the _Zencoder API_ Documentation. The _Zencoder API_
     allows you to connect your application to our encoding service
     and encode videos without going through the web  interface. You
     may also benefit from one of our
     [integration libraries](https://app.zencoder.com/docs/faq/basics/libraries)
     for different languages.

types:
  Location:
    description: Location Data Type
    type: object
    properties:
      id:
        required: true
        description: Location Identifier
        type: integer
      name:
        required: true
        description: Name of the Location (e.g. Buenos Aires)
        type: string
      createdAt:
        description: a date
        type: datetime

/locations:
  displayName: /locations
  get:
    headers:
      callerId:
        description: Id to track the request
        type: string
    queryParameters:
      filter:
        description: Filter
        type: string
      order:
        description: Order
        type: string
    description: Get all locations based on filters
    displayName: get
    responses:
      '200':
        description: List of location was returned successfully
        headers:
          content-type:
            description: a header
            type: string
        body:
          application/json:
            example:
              an example
            type: string